absl-py==0.4.0
aiohttp==3.3.2
alabaster==0.7.10
altair==2.1.0.dev0
alyn==0.1.1
anaconda-client==1.6.9
anaconda-navigator==1.7.0
anaconda-project==0.8.2
aniso8601==1.2.0
argcomplete==1.9.3
args==0.1.0
arxiv==0.2.2
asn1crypto==0.24.0
astor==0.7.1
astroid==1.6.1
astropy==2.0.3
async-timeout==3.0.0
attrs==17.4.0
Authlib==0.7
autocorrect==0.3.0
Automat==0.6.0
awscli==1.15.73
Babel==2.5.3
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
base58==1.0.0
bcolz==1.2.1
beautifulsoup4==4.5.3
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.1.2
bokeh==0.12.13
boto==2.48.0
boto3==1.7.58
botocore==1.10.72
Bottleneck==1.2.1
bz2file==0.98
cachetools==2.0.1
cairocffi==0.9.0
CairoSVG==2.1.3
certifi==2018.1.18
cffi==1.11.4
cfn-flip==1.0.3
chardet==3.0.4
cheroot==6.3.2.post0
CherryPy==16.0.2
click==6.7
clint==0.5.1
cloudpickle==0.5.2
clyent==1.2.2
colorama==0.3.9
colour==0.1.5
conda==4.4.10
conda-build==3.4.1
conda-verify==2.0.0
constantly==15.1.0
contextlib2==0.5.5
cryptography==2.1.4
cssselect==1.0.3
cssselect2==0.2.1
csvtomd==0.3.0
cycler==0.10.0
cymem==1.31.2
Cython==0.27.3
cytoolz==0.8.2
dask==0.16.1
datashape==0.5.4
deap==1.2.2
decorator==4.2.1
defusedxml==0.5.0
dill==0.2.7.1
distributed==1.20.2
Django==2.1.4
django-picklefield==2.0
django-tastypie==0.14.2
djangorestframework==3.9.0
docutils==0.14
docx==0.2.4
docx2txt==0.6
dupandas==0.3.2
durationpy==0.5
EbookLib==0.15
editdistance==0.5.2
en-core-web-sm==2.0.0
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
Faker==0.8.12
falcon==1.4.1
fastcache==1.0.2
fbprophet==0.2.1
feedparser==5.2.1
filelock==2.0.13
flake8==3.6.0
Flask==0.12.1
Flask-API==1.0
Flask-Ask==0.9.8
Flask-Cors==3.0.3
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
floyd-cli==0.10.35
fonttools==3.24.1
fpdf==1.7.2
funcy==1.10.3
future==0.16.0
futures==3.1.1
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gast==0.2.0
gensim==3.5.0
gevent==1.2.2
gingerit==0.6.0
glob2==0.6
gmpy2==2.0.8
google==2.0.1
google-api-core==0.1.4
google-api-python-client==1.6.6
google-auth==1.4.1
google-cloud==0.32.0
google-cloud-bigquery==0.28.0
google-cloud-bigquery-datatransfer==0.1.1
google-cloud-bigtable==0.28.1
google-cloud-container==0.1.1
google-cloud-core==0.28.1
google-cloud-datastore==1.4.0
google-cloud-dns==0.28.0
google-cloud-error-reporting==0.28.0
google-cloud-firestore==0.28.0
google-cloud-language==1.0.1
google-cloud-logging==1.4.0
google-cloud-monitoring==0.28.1
google-cloud-pubsub==0.30.1
google-cloud-resource-manager==0.28.1
google-cloud-runtimeconfig==0.28.1
google-cloud-spanner==0.29.0
google-cloud-speech==0.36.0
google-cloud-storage==1.6.0
google-cloud-trace==0.17.0
google-cloud-translate==1.3.1
google-cloud-videointelligence==1.0.1
google-cloud-vision==0.29.0
google-gax==0.15.16
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
googlemaps==2.5.1
goslate==1.5.1
graphviz==0.8.4
greenlet==0.4.12
grpc-google-iam-v1==0.11.4
grpcio==1.10.1
gTTS==1.2.2
gTTS-token==1.1.1
gunicorn==19.9.0
h5py==2.7.1
heapdict==1.0.0
hjson==3.0.1
html5lib==1.0.1
httplib2==0.11.3
hyperlink==18.0.0
idna==2.6
idna-ssl==1.1.0
image-slicer==0.2.0
imageio==2.2.0
imagesize==0.7.1
img2pdf==0.2.4
imreg-dft==2.0.1a0
imutils==0.5.2
incremental==17.5.0
inflection==0.3.1
ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
isort==4.2.15
isoweek==1.3.3
itsdangerous==0.24
jdcal==1.3
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.12.2
jsonfield==2.0.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.32.1
jupyterlab-launcher==0.10.2
jupyterthemes==0.19.1
justml==1.0.0
jwcrypto==0.4.2
kappa==0.6.0
Keras==2.2.2
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lambda-packages==0.20.0
lazy-object-proxy==1.3.1
lesscpy==0.13.0
libjson2csv==0.1.1
llvmlite==0.21.0
locket==0.2.0
lxml==4.1.1
Mako==1.0.6
Markdown==2.6.11
MarkupSafe==1.0
marshmallow==2.15.0
matplotlib==2.0.0
mccabe==0.6.1
minecart==0.3.0
mistune==0.8.3
more-itertools==4.1.0
moviepy==0.2.3.5
mpmath==1.0.0
msgpack-numpy==0.4.1
msgpack-python==0.5.1
multidict==4.3.1
multipledispatch==0.4.9
murmurhash==0.28.0
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
ndg-httpsclient==0.5.0
networkx==2.1
newsapi-python==0.0.2
nltk==3.3
nose==1.3.7
notebook==5.5.0
numba==0.36.2
numexpr==2.6.4
numpy==1.15.2
numpydoc==0.7.0
oauth2client==3.0.0
odo==0.5.1
olefile==0.45.1
omr==0.0.73
opencv-python==3.4.2.17
openpyxl==2.5.2
packaging==16.8
pandas==0.22.0
pandas-summary==0.0.5
pandocfilters==1.4.2
papersize==1.0.1
parsel==1.4.0
parso==0.1.1
partd==0.3.8
path.py==10.5
pathlib==1.0.1
pathlib2==2.3.0
patsy==0.5.0
pattern3==3.0.0
pdf2image==0.1.10
pdfminer.six==20170720
pdfminer3k==1.3.1
pep8==1.7.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.1.0
pillowfight==0.3
pkginfo==1.4.1
plac==0.9.6
placebo==0.8.1
playsound==1.2.1
plotly==2.5.0
pluggy==0.6.0
ply==3.8
polyglot==16.7.4
portend==2.3
preshed==1.0.0
prompt-toolkit==1.0.15
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.6.1
psutil==5.4.3
ptyprocess==0.5.2
py==1.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycld2==0.31
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycryptodome==3.6.1
pycurl==7.43.0.1
PyDictionary==1.5.2
PyDispatcher==2.0.5
pydub==0.23.0
pyenchant==2.0.0
pyflakes==2.0.0
pygal==2.4.0
pyglet==1.3.1
Pygments==2.2.0
PyICU==2.0.3
PyJWT==1.6.3
pyLDAvis==2.1.2
pylint==1.9.2
pymongo==3.6.1
pyodbc==4.0.22
pyOpenSSL==17.0.0
pyparsing==2.2.0
PyPDF2==1.26.0
PyQt5==5.10.1
PySocks==1.6.7
PySoundFile==0.9.0.post1
pyspellchecker==0.1.2
pystan==2.17.1.0
Pytess==0.1.0
pytesseract==0.2.0
pytest==3.3.2
python-dateutil==2.6.1
python-docx==0.8.6
python-Levenshtein==0.12.0
python-mimeparse==1.6.0
python-pptx==0.6.5
python-resize-image==1.1.11
python-slugify==1.2.4
python-speech-features==0.5
pytrends==4.3.0
pytz==2018.4
PyWavelets==0.5.2
pyxdg==0.25
PyYAML==3.12
pyzmq==17.0.0
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
Quandl==3.3.0
queuelib==1.5.0
raven==6.6.0
redis==2.10.6
regex==2017.4.5
requests==2.20.1
requests-toolbelt==0.8.0
rope==0.10.7
rsa==3.4.2
ruamel-yaml==0.15.35
s3transfer==0.1.13
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==0.18.1
Scrapy==1.5.0
seaborn==0.8.1
selenium==3.11.0
Send2Trash==1.4.2
service-identity==17.0.0
simpleaudio==1.0.2
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
sip==4.19.8
six==1.11.0
sklearn==0.0
sklearn-pandas==1.6.0
slate==0.5.2
sloth==1.0
smart-open==1.6.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.9
sox==1.2.6
spacy==2.0.11
SpeechRecognition==3.6.3
Sphinx==1.6.6
sphinxcontrib-websupport==1.0.1
spyder==3.2.6
SQLAlchemy==1.2.1
statsmodels==0.8.0
stopit==1.1.2
svgwrite==1.1.12
sympy==1.1.1
tables==3.4.2
tabulate==0.8.2
tblib==1.3.2
tempora==1.12
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
terminado==0.8.1
tesserocr==2.2.2
testpath==0.3.1
text-unidecode==1.2
textblob==0.15.1
thinc==6.10.2
tika==1.18
tinycss2==0.6.1
toml==0.9.4
toolz==0.9.0
torch==0.4.1
torchtext==0.2.3
torchvision==0.2.1
tornado==4.5.3
TPOT==0.9.3
tqdm==4.19.1
traitlets==4.3.2
Tree==0.2.4
troposphere==2.3.1
Twisted==17.9.0
typing==3.6.2
ujson==1.35
unicodecsv==0.14.1
Unidecode==1.0.22
update-checker==0.16
uritemplate==3.0.0
urllib3==1.22
vega-datasets==0.5.0
vega3==0.13.0
w3lib==1.19.0
Wand==0.4.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
Whoosh==2.7.4
widgetsnbextension==3.1.0
Wikipedia-API==0.3.5
wrapt==1.10.11
wsgi-request-logger==0.4.6
xlrd==1.0.0
XlsxWriter==1.0.2
xlwt==1.3.0
yarl==1.2.6
zappa==0.46.2
zict==0.1.3
zope.interface==4.4.3
